
/backend/node_modules
/frontend/node_modules
/frontend/dist
/backend/app/uploads/*
/frontend/dist/.vscode
/backend/package-lock.json
/backend/README.md
/frontend/README.md
/frontend/package-lock.json
/frontend/uploads